/*日月刎 826*/

@font-face {
    font-family: "Bad Script";
    src: url(fonts/font/fontello.eot);
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Bad Script', cursive;
    background: #ffffff;
}

.circle-io {
    position: relative;
    margin-left: -250px;
    margin-top: -100px;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 200px;
    text-align: center;
}

.middle-lm {
    position: absolute;
    width: 74px;
    margin-top: -50px;
    margin-left: -37px;
    top: 50%;
    left: 50%;
    z-index: 2
}

.choise-number {
    position: absolute;
    width: 98px;
    height: 98px;
    text-align: center;
    line-height: 98px;
    bottom: 0;
    margin-left: -50px;
    left: 50%;
    border-radius: 50%;
    background: #FF6666;
    color: #fff;
    font-size: 30px;
    z-index: 2;
    box-shadow: inset 0 0 40px #ffffff;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    box-shadow: inset 0 0 100px #fff;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: none;
}

.circle span {
    color: #fff;
}
