.me-item {
  float: left;
  width: 200px;
  height: 300px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff; }

.me-item .image {
  width: 90%;
  height: 80%;
  padding: 8px; }
  .me-item .image img {
    width: 100%;
    height: 100%;
    border-radius: 6px; }
    .me-item .image img:hover {
      box-shdow: 3px 3px 3px #ddd; }
.me-item .img-info {
  font-family: simsun;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  text-align: center;
  margin-top: 10px; }
